<main>
  <div class="card">
    <div *ngIf="toggle">
      <div class="rate-content">
        <div class="star-bg">
          <img src="../assets/images/icon-star.svg" alt="icon-star" />
        </div>
        <p class="question">How did we do?</p>
        <p class="description">
          Please let us know how we did with your support request. All feedback
          is appreciated to help us improve our offering!
        </p>
        <form #f="ngForm" (submit)="submit(f)">
          <div class="rate-container">
            <label
              class="rate"
              [ngClass]="{ selected: active === val }"
              *ngFor="let val of [1, 2, 3, 4, 5]"
              (click)="setActive(val)"
            >
              <input type="radio" name="rate" [value]="val" [ngModel] />
              {{ val }}
            </label>
          </div>
          <button type="submit">submit</button>
        </form>
      </div>
    </div>
    <div class="thank-you-content" *ngIf="!toggle">
      <img
        src="../assets/images/illustration-thank-you.svg"
        alt="illustration-thank-you"
      />
      <div class="result">
        <p class="result-text">You selected {{ rate ? rate : 0 }} out of 5</p>
      </div>
      <p class="thank-you">Thank you!</p>
      <p class="message">
        We appreciate you taking the time to give a rating. If you ever need
        more support, don’t hesitate to get in touch!
      </p>
    </div>
  </div>
</main>
<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by <a href="#">Felice Nicolas Barcellona</a>.
</div>
