<main>
  <div class="card">
    <div *ngIf="toggle">
     <app-submit-form (rate)="onFormSubmitted($event)" (val)="onSetActive($event)" [iconStar]="iconStar"></app-submit-form>
    </div>
    <div *ngIf="!toggle">
      <app-thankyou [rating]="rating"></app-thankyou>
    </div>
  </div>
</main>
<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona">Felice Nicolas Barcellona</a>.
</div>
