main {
  max-width: 1440px;
  height: 98vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
}

.card {
  width: 410px;
  height: 415px;
  background-color: var(--dark-blue);
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 375px;
  }

  .card {
    width: 329px;
    height: 359px;
    border-radius: 20px;
  }
}
