.thank-you-content {
  text-align: center;
  padding: 45px 35px 0 25px;
}

.result {
  width: 195px;
  height: 33px;
  background-color: hsl(197, 27%, 13%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 27px auto;
}

.result-text {
  color: var(--orange);
  font-size: 15px;
  word-spacing: 0.6px;
}

.thank-you {
  margin: 32px 0 0 0;
  font-size: 29px;
}

.message {
  text-align: center;
  word-spacing: 0.8px;
  margin: 10px 0 0 0;
  line-height: 1.6em;
  color: var(--medium-grey);
}

@media only screen and (max-width: 768px) {
  .thank-you-content{
    padding: 35px 29px 44px;
  }

  .thank-you-content img{
    height: 95px;
    width: 146px;
  }

  .result {
    margin: 19px auto;
    width: 170px;
  }

  .result-text{
    font-size: 13.5px;
  }

  .thank-you {
    margin: 25px 0 0 0;
    font-size: 24.5px;
  }

  .message {
    font-size: 13.7px;
  }
}
